

main{
    /* height: 100vh; */
    /* height: 100%;
    width: 100%; */

    grid-row: 2;
    display: grid;
    grid-template-columns: 13% auto auto auto auto auto 13%;
    grid-template-rows: 100%;
}