:root {
    --light-beige: #F7F3E7;
    --normal-beige: #efe7cb;
    --darker-beige: #dbd4bc;
    --dark-beige: rgb(187, 178, 152);
}


.loadPostList{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorPostList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



#postsDiv{
    grid-row: 1;
    grid-column: 2;
}

#postsText{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#postCategories{
    border: 1px solid var(--dark-beige);
    background-color: var(--light-beige);
    padding: 5px 10px;
    border-radius: 10px;
}

#postCategories:focus{
    border: none;
    outline: 2px solid var(--darker-beige);
}