:root {
    --light-beige: #F7F3E7;
    --normal-beige: #efe7cb;
    --darker-beige: #dbd4bc;
    --dark-beige: rgb(187, 178, 152);
}

footer{
    grid-row: 3;
    grid-column: 1 / span 3;


    display: grid;
    grid-template-columns: 13% auto auto auto auto auto 13%;
    grid-template-rows: 60px;
    align-items: center;
    justify-items: center;
    background-color: var(--light-beige);
    height: 60px;
}

footer img{
    height: 35px;
}

#footerLink{
    grid-column: 2;
    justify-self: start;
}

#allRightsDiv{
    grid-column: 4;
}

#icons{
    grid-column: 6;
    justify-self: end;

    display: flex;
    gap: 10px;
}

