

#registrationFormContainer{
    grid-column: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#registrationForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 4px dotted #dbd4bc;
    padding: 40px;
    background-color: #F7F3E7;
}

#usernameInputRegistrationContainer, #emailInputRegistrationContainer, #passwordInputRegistrationContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#buttonSubmitRegistration{
    width: 100px;
    height: 25px;

    background-color: #dbd4bc;
    border: 1px solid rgb(187, 178, 152);
    border-radius: 10px;
}

#buttonSubmitRegistration:hover{
    cursor: pointer;

    transition: background-color ease-out 300ms;
    background-color: #F7F3E7;

}