

header{
    grid-column: 1 / span 7;
    grid-row: 1;

    width: 100%;
    position: fixed;

    display: grid;
    grid-template-columns: 13% auto auto auto auto auto 13%;
    grid-template-rows: 60px;
    align-items: center;
    justify-items: center;
    background-color: #F7F3E7;
    height: 60px;
}

header a{
    text-decoration: none;
    color: black;
}



#logoPostsHeader{
    grid-column: 2;
    justify-self: start;
    /* display: grid;
    grid-template-columns: auto auto auto;
    align-items: center; */

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    
}

#logoHeader{
    height: 35px;
}

#postsHeader:hover{
    color: rgb(187, 178, 152);
    transition: color ease-in-out 300ms;
}



#searchHeader{
    grid-column: 4;

    width: 300px;
    height: 35px;
    border-radius: 15px;
    background-color: white;
    border: none;
    padding: 0 15px;
    background-image: url("./images/magnifyingGlass.png");
    background-size: 15px 15px;
    background-position: 95% 50%; 
    background-repeat: no-repeat;
}

#searchHeader:focus{
    outline: 2px solid #dbd4bc;
}



#logInSignUpHeader{
    grid-column: 6;
    justify-self: end;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#logIn{
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logIn:hover{
    color: rgb(187, 178, 152);
    transition: color ease-in-out 300ms;
}
#logIn:hover > #logInIcon path{
    stroke: rgb(187, 178, 152);
    transition: stroke ease-in-out 300ms;
}

#signUp{
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signUp:hover{
    color: rgb(187, 178, 152);
    transition: color ease-in-out 300ms;
}

#signUp:hover > #signUpIcon path{
    stroke: rgb(187, 178, 152);
    transition: stroke ease-in-out 300ms;
}


#logInSignUpHeader span{
    text-wrap: nowrap;
}

@media (max-width: 1024px){
    header{
        grid-template-columns: 5% auto auto auto auto auto 5%;
    }

    #searchHeader{
        width: 200px;
    }

    #logoPostsHeader{
        gap: 10px;
    }
}