

footer{
    grid-row: 3;
    grid-column: 1 / span 7;


    display: grid;
    grid-template-columns: 13% auto auto auto auto auto 13%;
    grid-template-rows: 60px;
    align-items: center;
    justify-items: center;
    background-color: #F7F3E7;
    height: 60px;
}

footer img{
    height: 35px;
}

#footerLink{
    grid-column: 2;
    justify-self: start;
}

#allRightsDiv{
    grid-column: 4;
}

#icons{
    grid-column: 6;
    justify-self: end;

    display: flex;
    gap: 10px;
}

