

.post{
    border: 1px solid black;
    /* все цвета выносить в перемнные css */
    background-color: #F7F3E7;
    margin: 10px 0;

    display: grid;
    grid-template-columns: 7% 40% 15% auto auto 7%;
    grid-template-rows: 90px;
}

.postLink{
    text-decoration: none;
    color: black;
}

#leftSideOfPost{
    grid-column: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

#profilePicturePost{
    width: 80px;
    border-radius: 50%;
}

#lowerMenu{
    display: flex;
    align-items: center;
    gap: 5px;
}


#likeContainer{
    grid-column: 4;
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#commentsDiv{
    grid-column: 5;
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.likeButton{
    padding: 3px 5px;
    border: 1px solid black;
    border-radius: 7px;
    background-color:#efe7cb;

    display: flex;
    justify-content: center;
    align-items: center;
}

.likeButton:hover{
    cursor: pointer;
    background-color:#dbd4bc;
    transition: background-color ease-in-out 300ms;
}   